/* =============================================================================
 *
 *      Author:     Appnet 
 *      Author URI: http://www.appnet.com/
 *
 * ========================================================================== */ 
 
 
/*
 *  search.php
 */

#moduleSearch {width:500px;}
#moduleSearch h2 {
    margin:0; 
    padding:20px 0 5px 0;
    text-transform:capitalize;
}
#moduleSearch div.multi label.main {}
#moduleSearch div.multi label.secondary {padding-right:5px; text-align:right; width:15px;}
#moduleSearch div.multi select.value {width:80px;}
#moduleSearch div.multi input.value {width:68px;}
#moduleSearch div.multi select.modifier {width:212px;}
#moduleSearch input.reset {margin:10px 0 0 10px;}
#moduleSearch ul {
    list-style:none; 
    margin:0 0 15px 0; 
    padding:0;
}
    #moduleSearch ul li {
        float:left; 
        margin:0; 
        padding:0;
        width:50%;
    }
    #moduleSearch ul li input {
        background:none;
        border:0;
        margin-top:10px; 
        width:30px;
    }


/*
 *  sitemap.php
 */

ul.sitemap {
    list-style:none; 
    margin:0 0 15px 0;
    padding:0;
}
    ul.sitemap li {
        float:left;
        font-size:13px;
        height:20px;
        line-height:20px;
        margin:0; 
        overflow:hidden;
        padding:0 1% 0 0; 
        width:32.3333%;
    }