@import url('css/reset.css');
@import url('//fonts.googleapis.com/css?family=Droid+Sans');
@import url('//fonts.googleapis.com/css?family=Ubuntu');


/* =============================================================================
 *
 *      Author:     Appnet 
 *      Author URI: http://www.appnet.com/
 *
 * ========================================================================== */ 


body {
    background:#fff;
    color:#000;
    font:13px/20px 'Droid Sans', Arial, Helvetica, sans-serif;
    min-width:960px;
}

#pagewrap, .container {margin:0 auto; width:960px;}

h1, h2, h3, h4, h5, h6 {
    font-family:Ubuntu, Arial, Helvetica, sans-serif;
    font-weight:normal;
    margin:0;
    padding:0;
}
    h1 {
    	font-size:24px; 
    	line-height:30px;
    	padding:10px 0;
    }
    h2 {
    	font-size:22px; 
    	line-height:28px;
    	padding:10px 0;
    }
    h3 {
    	font-size:20px;
    	line-height:26px;
    	padding:10px 0 5px 0;
    }
    h4 {
    	font-size:18px; 
    	line-height:24px;
    	padding:5px 0;
    }
    h5 {
    	font-size:18px; 
    	line-height:24px;
    	padding:10px 0;
    }
    h6 {
    	font-size:14px; 
    	line-height:20px;
    	padding:5px 0;
    }

p, ul, ol {margin:0 0 15px 0;}
    ul li, ol li {margin:0 0 0 18px;}


/*
 *  images
 */

img.center {display:block; margin:10px auto;}
img.align-r {float:right; margin:0 0 10px 10px;}
img.align-l {float:left; margin:0 10px 10px 0;}
img.border {
    background:#fff;
    border:1px solid #ccc;
    padding:4px;
}


/*
 *  iframes
 */ 

iframe {
    border:0;
    margin:0;
    padding:0;
}


/*
 *  misc
 */

.shadow {
    -webkit-box-shadow:0 0 3px #666;
    -moz-box-shadow:0 0 3px #666;
    box-shadow:0 0 3px #666;
}

::-moz-selection {
    background:#3399ff;
    color:#fff;
    text-shadow:0 1px 0 #0a3b6c;
}
::selection {
    background:#3399ff;
    color:#fff;
    text-shadow:0 1px 0 #0a3b6c;
}


/*
 *  main links
 */
 
a:active {position:relative; top:1px;}
    a:active img, nav a:active {position:relative; top:0;}

a:link, a:visited, a:active {
    border-bottom:1px dotted #090;
    color:#090;
    text-decoration:none;
    
    -webkit-transition: background .4s ease, border-bottom .4s ease, color .4s ease;
    -moz-transition:    background .4s ease, border-bottom .4s ease, color .4s ease;
    -o-transition:      background .4s ease, border-bottom .4s ease, color .4s ease;
    -ms-transition:     background .4s ease, border-bottom .4s ease, color .4s ease;
    transition:         background .4s ease, border-bottom .4s ease, color .4s ease;
}
    a:hover {
        border-bottom:1px dotted #900;
        color:#900;
        text-decoration:none;
    }

a.nobord {border:0 !important;} /* lose the default border-bottom */ 


/*
 *  header
 */
 
header {}

#fader {}

nav {}

ul#navlist {
	list-style:none;
	margin:0;
	padding:0;
}
    ul#navlist li {
        float:left;
        margin:0;
        padding:0;
        position:relative;
    }
        .ie6 ul#navlist ul {display:none !important;} /* disables dropdowns in ie6 */

ul#navlist li a:link, ul#navlist li a:visited, ul#navlist li a:active {
    border:0;
    color:#000;
}
    ul#navlist li a:hover {
        border:0;
        color:#000;
    }


/*
 *  content
 */
 
#content {}

article {}

aside {
    float:right;
    margin:0 0 20px 20px;
    width:270px;
}

#moreinfo {padding:5px 0 15px 0;}
    #moreinfo p {margin:0; padding:0;}

ul.gallery {
    list-style:none; 
    margin:0; 
    padding:0;
}
    ul.gallery li {
        float:left; 
        margin:0; 
        padding:0; 
        text-align:center;
    }


/*
 *  footer
 */
 
footer {}

footer a:link, footer a:visited, footer a:active {
    border-bottom:1px dotted #fff;
    color:#000;
}
    footer a:hover {
        border-bottom:1px dotted #000;
        color:#000;
    }

footer .l {
    float:left;
    padding:0 10px;
    width:300px;
}

footer .r {
    float:right;
    width:640px;
}
    footer .r .l {
        float:left;
        padding:0 10px;
        width:300px;
    }    
    footer .r .r {
        float:right;
        padding:0 10px;
        width:300px;
    }

footer .sl {
    list-style:none;
    margin:0;
    padding:0;
}
    footer .sl li {
        float:left;
        margin:0;
        padding:0 0 7px 0;
        width:50%;
    }

footer .ci {
    list-style:none;
    margin:0;
    padding:0;
}
    footer .ci li {
        float:left;
        margin:0;
        padding:0 0 7px 0;
        width:50%;
    }

footer small {
    clear:both;
    display:block;
    font-size:100%;
    margin:0;
    padding:15px 0;
}